* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.15s ease-in 0.15s;
}

* input, * button {
  outline: none;
}

@font-face {
  font-family: Times New Roman;
  src: url(times_new_roman.ttf);
}

.our-services {
  background-color: #70bfff;
}

.our-services__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap-reverse;
  top: 100px;
  bottom: 150px;
}

.our-services .img {
  position: relative;
  display: flex;
  width: 560px;
  margin-left: 8%;
  margin-bottom: 150px;
  margin-top: 100px;
}

.our-services .img img {
  margin-left: 50px;
}

.our-services .img .title__img {
  position: absolute;
  left: 0;
  top: 150px;
}

.our-services .img .title__img .title {
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 90px;
  line-height: 100px;
  color: #ffffff;
}

.list {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 460px;
  margin-left: 16.66667%;
  margin-bottom: 150px;
  margin-top: 180px;
}

.list .list__box {
  list-style: none;
  width: 400px;
}

.list__item {
  background: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px 2px #44739a;
}

.list__item:active {
  transform: scale(0.99);
}

.list__item .text {
  width: 300px;
  height: 100px;
  align-self: center;
}

.list__item .text .list-text {
  max-width: 240px;
  display: block;
  padding-top: 34px;
  text-align: center;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin: 0 auto;
}

.list__item:hover, .list__item:focus {
  box-shadow: 3px 3px 10px 4px #44739a;
  cursor: pointer;
}

.list__item:hover .list-text {
  font-family: 'Times New Roman', sans-serif;
  font-weight: 400;
  font-size: 22px;
  transition: top 2s ease-out 1.5s;
}

.list__item .icon {
  width: 100px;
  height: 100px;
  align-self: center;
  box-shadow: inset 1px 0 0 0 #9d9d9d;
}

.list__item .icon img {
  padding-top: 25px;
  padding-left: 25px;
}

.gallery {
  background-color: #ffe92f;
}

.gallery__wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  width: 100%;
  align-items: flex-start;
}

.gallery__wrapper .topper__box {
  width: 590px;
  margin: 0 auto;
  text-align: center;
}

.gallery__wrapper .topper__box .title {
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 90px;
  margin: 100px auto 40px auto;
}

.gallery__wrapper .topper__box .title__text {
  font-family: 'Raleway',sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 40px;
}

.gallery__wrapper .conteiner__img {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1170px;
  margin: 0 auto;
}

.gallery__wrapper .conteiner__img .img__item {
  flex-basis: 51%;
  margin: 0 auto;
}

.gallery__wrapper .conteiner__img .img__item2 {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  flex-basis: 24.5%;
  margin: 0 auto;
}

.gallery__wrapper .conteiner__img .img__item2 .smal__img, .gallery__wrapper .conteiner__img .img__item2 .smal__img2 {
  margin-left: 30px;
}

.gallery__wrapper .conteiner__img .img__box1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px auto 0 auto;
}

.gallery__wrapper .conteiner__img .img__box1 .img__item3, .gallery__wrapper .conteiner__img .img__box1 .img__item4 {
  flex-basis: 36.5%;
}

.gallery__wrapper .conteiner__img .img__box1 .img__item3 {
  margin-right: 30px;
}

.gallery__wrapper .conteiner__img img {
  box-shadow: 2px 2px 4px 3px  #9e901d;
}

.gallery__wrapper .conteiner__img img:hover {
  transform: scale(1.01);
  transition: all 1.5s esse-in 2.5s;
  cursor: pointer;
}

.gallery__wrapper .conteiner__img img:active {
  transform: scale(0.99);
}

.gallery__wrapper .button {
  margin: 50px auto 120px auto;
  position: relative;
}

.gallery__wrapper .button input {
  border: none;
  width: 200px;
  height: 55px;
  background: #5585a2;
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-weight: 300;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 2px 4px 3px  #9e901d;
}

.gallery__wrapper .button input:active {
  transform: scale(0.99);
}

.gallery__wrapper .button input:hover {
  box-shadow: 2px 2px 4px 6px  #9e901d;
}

.subscribe {
  background-color: #ffffff;
}

.subscribe__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.subscribe__wrapper .title__box {
  position: relative;
  width: 575px;
  height: 220px;
  float: left;
  margin-top: 110px;
  margin-left: auto;
}

.subscribe__wrapper .title__box .title {
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 27px;
}

.subscribe__wrapper .title__box .title__text {
  font-family: 'Raleway',sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
  width: 545px;
  padding-bottom: 30px;
}

.subscribe__wrapper .title__box .form {
  width: 570px;
  height: 55px;
}

.subscribe__wrapper .title__box input[type="email"] {
  border: 1px solid #000000;
  padding-left: 15px;
  outline: none;
}

.subscribe__wrapper .title__box input[type="button"] {
  position: absolute;
  right: -200px;
  bottom: 0;
  border: none;
  width: 170px;
  height: 55px;
  background: #96b92c;
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-weight: 300;
  cursor: pointer;
  box-shadow: 2px 2px 7px 3px  #5c5c5b;
  outline: none;
}

.subscribe__wrapper .title__box input[type="button"]:active, .subscribe__wrapper .title__box input[type="button"]:focus {
  border-color: #96b92c;
}

.subscribe__wrapper .title__box input[type="button"]:active {
  transform: scale(0.99);
}

.subscribe__wrapper .title__box input[type="button"]:hover {
  box-shadow: 1px 1px 8px 4px  #ffffff;
}

.subscribe__wrapper .blueberry-img {
  margin-left: 80px;
}

.subscribe__wrapper .blueberry-img img {
  width: 100%;
}

.blog-conteiner {
  background-image: url(../img/bg.png);
  background-size: cover;
}

.blog-conteiner a:link, .blog-conteiner a:visited {
  text-decoration: none;
  color: #ffffff;
}

.blog-conteiner .img-item:hover {
  box-shadow: 4px 4px 15px rgba(80, 4, 167, 0.8), -4px -4px 15px rgba(80, 4, 167, 0.8), -4px 4px 15px rgba(80, 4, 167, 0.8), 4px -4px 15px rgba(80, 4, 167, 0.8);
  border-radius: 20px;
  transform: scale(1.01);
}

.blog-conteiner .button {
  padding-bottom: 115px;
}

.blog-conteiner .button input {
  display: block;
  position: relative;
  margin: 0 auto;
  border: none;
  width: 200px;
  height: 55px;
  background: #f72b3b;
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.blog-conteiner .button input:hover {
  opacity: 0.7;
  box-shadow: -5px 5px 8px rgba(38, 38, 38, 0.7), 5px -5px 8px rgba(38, 38, 38, 0.7), 5px 5px 8px rgba(38, 38, 38, 0.7), -5px -5px 8px rgba(38, 38, 38, 0.7);
}

.blog-conteiner .conteiner-item1 {
  text-align: center;
  color: #ffffff;
  padding-top: 125px;
}

.blog-conteiner .conteiner-item1 .title {
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  margin: 0 auto 25px;
  font-size: 90px;
}

.blog-conteiner .conteiner-item1 .title-text {
  font-weight: 17px;
  width: 570px;
  text-align: center;
  margin: 0 auto 50px;
  line-height: 25px;
}

.blog-conteiner .img-conteiner {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0 0 50px;
  box-sizing: border-box;
  align-items: center;
}

.blog-conteiner .img-conteiner .img-item {
  position: relative;
  width: 370px;
  height: 310px;
  margin: 15px;
  background: #b07cf7;
  box-shadow: 3px 3px 3px rgba(83, 81, 81, 0.3), -2px -2px 3px rgba(83, 81, 81, 0.3);
}

.blog-conteiner .img-conteiner .img-item img:active {
  transform: scale(0.99);
  border-color: #b07cf7;
}

.blog-conteiner .img-conteiner .img-item img:hover {
  box-shadow: 1px 1px 6px 3px  #caaff1;
}

.blog-conteiner .img-conteiner .img-item .img-date {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 21px;
  background: rgba(38, 38, 38, 0.5);
  border-radius: 6px;
  text-align: center;
}

.blog-conteiner .img-conteiner .img-item .img-date .date span {
  font-size: 32px;
  font-weight: 700;
}

.blog-conteiner .img-conteiner .img-item .img-date .date {
  margin: 8px 12px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
}

.blog-conteiner .img-conteiner .img-item .text {
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-size: 20px;
  text-align: left;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  color: #ffffff;
  width: 335px;
}

.blog-conteiner .img-conteiner .img-item .text .smal-text {
  font-size: 12px;
  color: #E1E1E2;
  font-weight: 300;
  line-height: 50px;
}

.contact {
  background: url(../img/contact-bg.png) no-repeat;
}

.contact a, .contact a:link {
  color: #b9b9b9;
  text-decoration: none;
}

.contact .header {
  flex-basis: 100%;
  padding: 100px 0 0 0;
}

.contact .header__topic {
  width: 370px;
  margin: 0 auto;
  text-align: center;
  font-size: 90px;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
}

.contact .header__text {
  width: 370px;
  text-align: center;
  margin: 0 auto;
  padding: 45px 0;
  font-family: 'Raleway',sans-serif;
  font-weight: 300;
  line-height: 25px;
  font-size: 17px;
}

.contact__form {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: flex-start;
}

.contact__form .form__box {
  margin-left: 165px;
  position: relative;
}

.contact__form .form__box .btn input {
  position: absolute;
  left: 0;
  bottom: 50px;
  border: none;
  width: 170px;
  height: 55px;
  background: #00c4c4;
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-weight: 300;
  cursor: pointer;
  box-shadow: 2px 2px 7px 3px  #5c5c5b;
  outline: none;
}

.contact__form .form__box .btn input:active, .contact__form .form__box .btn input:focus {
  border-color: #96b92c;
}

.contact__form .form__box .btn input:active {
  transform: scale(0.99);
}

.contact__form .form__box .btn input:hover {
  box-shadow: 1px 1px 8px 4px  #ffffff;
}

.contact .form__inputs {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.contact .form__inputs .form__item input {
  width: 500px;
  min-width: 217px;
  height: 50px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
  padding-left: 25px;
  background-color: #00c4c4 !important;
  outline: none;
  border: none;
  color: #fff;
  opacity: 0.5;
}

.contact .form__inputs .form__item input::placeholder {
  color: #ffffff;
}

.contact .form__inputs .form__item input:visited {
  background-color: #00c4c4;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
}

.contact .form__inputs .form__item input:active, .contact .form__inputs .form__item input:hover, .contact .form__inputs .form__item input:focus {
  opacity: 1;
  box-shadow: inset 5px 0 0 0 #355b82;
}

.contact__data {
  flex-basis: 48%;
  flex-shrink: 1;
  padding-left: 170px;
}

.contact__text {
  font-size: 21px;
  line-height: 25px;
  margin: 0 0 13px 0;
}

.contact .bottom__end {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 90px;
  background-color: #262626;
  color: #b9b9b9;
  vertical-align: middle;
  font-family: 'Raleway',sans-serif;
  font-weight: 300;
}

.contact .bottom__end .main-logo .logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 25px;
  margin-top: 30px;
}

.contact .bottom__end .copiright .text {
  font-size: 16px;
  margin-top: 35px;
}

.contact .bottom__end .author .text {
  font-size: 15px;
  margin-top: 35px;
}

.contact .bottom__end .author .text span {
  font-weight: 700;
  color: #f12b55;
}

.contact .txtplace {
  width: 500px;
  min-width: 217px;
  height: 230px;
  font-size: 15px;
  font-weight: 400;
  background-color: #00c4c4;
  opacity: 0.5;
  margin-bottom: 120px;
  color: #fff;
}

.contact textarea {
  padding: 10px 0 0 25px;
}

.contact textarea::placeholder {
  color: #ffffff;
}

.contact textarea:active, .contact textarea:hover, .contact textarea:focus {
  opacity: 1;
  box-shadow: inset 5px 0 0 0 #355b82;
}
